@using System.Web.UI.WebControls
@model IEnumerable<ProfileSample.Models.EncodedImageModel>

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    @foreach (var item in Model)
    {
        var imgSrc = string.Format("data:image/jpg;base64,{0}", item.Data);

        <img src="@imgSrc" width="300" height="150"/>
    }
</div>
